<%= render "shared/header"%>
<!-- Main -->
<div class="wrapper style1">
	<div class="container">
		<div id="content">
			<!-- Content -->
		<%#if notice %>
		 <p id="notice"><%#= notice %></p>
		<%# end %>
			<h1>非承認一覧</h1>
			<table>
			<thead>
				<tr>
					<th>申請時間</th>
					<th>申請者</th>
					<th>商品名</th>
					<th>商品名(定期)</th>
					<th>数量</th>
					<th>金額</th>
					<th>合計金額</th>
					<th colspan="2"></th>
				</tr>
			</thead>
			<% @disapproval.each do |disapproval| %>
			<tbody>
				<tr>
				  <td><%= l disapproval.item.created_at, format: :short %></td>
					<td><%= disapproval.item.user.name %></td>
					<td><%= disapproval.item.name %></td>
					<td><%= disapproval.item.regular.name %></td>
					<td><%= disapproval.item.quantity %></td>
					<td><%= disapproval.item.price %>円</td>
					<td><%= disapproval.item.total_price %>円</td>
					<td></td>

					<td class="btn-square-pop"><%= link_to '詳細', disapproval_path(disapproval) %></td>
					<% if current_user.position_id != 1 %>
					<td class="btn-square2"><%= link_to '取消', disapproval_path(disapproval.id), method: :delete,  data: { confirm: '本当に取消してもよろしいですか？' } %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
			</table>
				<br>
		</div>
	</div>
</div>

 <%= render "shared/footer" %>