<%= render "shared/header"%>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
<div class="form-wrapper">
  <div class="form-wrapper_h1">
  <h1>サインイン</h1>
  </div>
  <%= render 'shared/error_messages', model: f.object %>
  <form>
    <div class="form-item">
      <label for="email"></label>
      <%= f.email_field :email, id:"email", placeholder:"Email Address", autofocus: true %>
    </div>
    <div class="form-item">
      <label for="password"></label>
      <%= f.password_field :password, id:"password", placeholder:"password" %>
    </div>
    <div class="button-panel">
      <%= f.submit "ログイン" ,class:"button" %>
    </div>
  </form>
  <div class="form-footer">
    <p><a href="#">Create an account</a></p>
    <p><a href="#">Forgot password?</a></p>
  </div>
 </div> 
<% end %>

<%= render "shared/footer"%>