<!-- Banner -->
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="col-7 col-12-medium">
				<h2>経費申請APP</h2>
				<p>経費申請をもっとカンタンにもっと使いやすく</p>
			</div>
			<div class="col-5 col-12-medium">
				<ul>

					<li><%= link_to '新規登録', new_user_registration_path, class: "button large icon solid" %></li>
					<li><%= link_to 'ログイン', new_user_session_path, class: "button alt large icon solid " %></li>
					
				</ul>
			</div>
		</div>
	</div>
</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										 <a href="#" class="image featured"><%= image_tag 'gif01.gif'%></a> 
										<div class="inner">
											<header>
												<h2>経費をカンタンに申請できます</h2>
												<p>より早くより手軽に</p>
											</header>
											<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										 <a href="#" class="image featured"><%= image_tag 'gif02.gif'%></a> 
										<div class="inner">
											<header>
												<h2>役職者は承認か非承認か選べます</h2>
												<p>役職者のみ承認ボタンと非承認ボタンが出てきます</p>
											</header>
											<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><%= image_tag 'gif03.gif'%></a>
										<div class="inner">
											<header>
												<h2>役職者以外は編集か削除ができます</h2>
												<p>承認が終わっていなければ編集削除ができます</p>
											</header>
											<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>Interesting stuff</h3>
											<div class="grid">
												<div class="row gtr-50">
												  <div class="col-6"><a href="#" class="image fit"><%= image_tag 'pic04.jpg'%></a></div>
												  <div class="col-6"><a href="#" class="image fit"><%= image_tag 'pic05.jpg'%></a></div>
												  <div class="col-6"><a href="#" class="image fit"><%= image_tag 'pic06.jpg'%></a></div>
												  <div class="col-6"><a href="#" class="image fit"><%= image_tag 'pic07.jpg'%></a></div>
												</div>
											</div>
											<a href="#" class="button icon fa-file-alt">More</a>
										</section>
									</div>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<div id="content">
										<section class="last">
											<h2>So what's this all about?</h2>
											 <p>This is <strong>Request-app</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
											Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
											<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
											<a href="#" class="button icon solid">Continue Reading</a>
										</section>
									</div>

							</div>
						</div>
					</div>
				</div>
